extends ./layout.pug

block page
    .row
        .col-12
            #main_content.row
                .col-12
                    h1 About me:
            .row
                .col-6
                    img(src='img/gallery/aboutme.jpeg', width='400', height='550')
                .col-6
                    p
                    | My name is Ania and since I remember I love cooking and baking.
                    | My life brought me to this point when I would love to share my recipes and ideas with others.
                    | I hope you would find some interesting stuff on my website.
                    p
                        h4 Few facts about me:                   
                    ul
                        li I am a barista with Specialty Coffee Assosiation Certificate.
                        li I love to drink black coffee.
                        li I baked my first cake when I was 9.
                        li My other passion is make-up and cosmetics.
                        li I love black color.
                        li Orginally I am coming from Poland, but now I live in Canada.
                    p